h2{
    color: aqua;
}
body{
    background-image: url();
}
table{
        background-image: url(https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2023/1/8/1135972/HD-4.JPG);
}
table{
    color: blue;
}
.qq{
    color: red;
}
.p9,td{
    color: red
}
